<footer class="px-8 py-12 text-xs text-white lg:text-left bg-woodsmoke">
  <div class="items-baseline justify-between px-4 lg:flex">
    <div class="flex flex-col lg:items-stretch lg:flex-row">
      <div class="flex flex-col justify-between">
        <span>Courtesy of The Lewandowskis</span>
      </div>
    </div>
  </div>
</footer>