<form class="block w-full mb-4 md:mb-12">
    <label for="filter" class="hidden">Search</label>
    <input
        id="filter"
        name="filter"
        type="search"
        class="w-full p-4 border border-red"
        placeholder="Search by title or ingredients"
    />
</form>

<div id="resources" class="flex flex-wrap justify-around">
    {% for recipe in recipeslist %}
        <article id="recipe-{{ recipe.id }}" class="w-full m-4 mb-8 md:w-2/5">
            <div class="inline-block p-4 mb-0 leading-none text-white border border-b-0 rounded-t-md bg-limed-spruce border-limed-spruce">
                {% if recipe.tags %}
                    <div class="font-sans uppercase">
                        {% set tagList = recipe.tags %}
                        {% include "layouts/tags-tabbed.njk" %}
                    </div>
                {% endif %}
            </div>
            <div class="bg-white border shadow-xl border-silver">
                <a class="block" href="/recipes/{{ recipe.slug }}">
                    <h2 class="items-center px-4 pt-2 mb-0 font-bold leading-snug border border-t-0 border-b-2 border-l-0 border-r-0 hover:text-red text-outer-space recipe-title border-red">{{ recipe.title }}</h2>
                </a>
                <div class="p-3 recipe-card sm:flex">
                    {% if recipe.image.asset %}
                        <img class="hidden object-cover w-32 h-32 mb-4 border rounded-lg sm:mr-4 sm:block sm:mb-0 fade-in border-red" src="{{ helpers.imageURL(sanityClient, recipe.image.asset, 128, 128) }}" alt="{{ recipe.image.alt }}" title="{{ recipe.title }}" />
                    {% endif %}
                    <div class="min-h-32 sm:min-h-16 text-wrapper">
                        {% if recipe.source %}
                            <div>
                                {% if recipe.source_url %}
                                    <span class="field-label">From: </span><a href="{{ recipe.source_url }}" class="self-end font-bold hover:underline focus:underline">{{ recipe.source }}</a>
                                {% else %}
                                    <span class="field-label">From: </span><span class="self-end font-bold">{{ recipe.source }}</span>
                                {% endif%}
                            </div>
                        {% endif %}
                        {% if recipe.yield %}
                            <div>
                                <span class="field-label">Yield: </span>
                                <span>{{ recipe.yield }}</span>
                            </div>
                        {% endif %}
                        {% if recipe.total_time %}
                            <div>
                                <span class="field-label">Total Time: </span>
                                <span>{{ recipe.total_time }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </article>
    {% endfor %}
</div>

<script type="text/javascript">
    const resources = document.querySelector("#resources");

    let search = document.querySelector("form");
    let filteredDataResources = [];

    const dataResources = [
        {% for recipe in recipes %}
            {
                'title': '{{ recipe.title | toLowerCase }}',
                'ingredients': '{{ recipe.ingredients | jsEscape }}',
                'tags': '{{ recipe.tags }}',
                'id': '{{ recipe.id }}'
            },
        {% endfor %}
    ];

    function filterResources() {
        filteredDataResources = dataResources.filter( resourceData => {
            let searchValue = document.querySelector("#filter").value.toLowerCase();
            if (resourceData.title.includes(searchValue) ||
                resourceData.ingredients.includes(searchValue) ||
                resourceData.tags.includes(searchValue)) {

                document.querySelector("#recipe-" + resourceData.id).classList.remove("hidden");
            } 
            else {
                document.querySelector("#recipe-" + resourceData.id).classList.add("hidden");
            }
        });
    }

    search.addEventListener("load", event => {
        event.preventDefault();
        filterResources();
    });
    search.addEventListener("submit", event => {
        event.preventDefault();
        filterResources();
    });
    document.querySelector("#filter").addEventListener("keyup", event => {
        event.preventDefault();
        filterResources();
    });
    document.querySelector("#filter").addEventListener("change", event => {
        event.preventDefault();
        filterResources();
    });
    document.querySelector("#filter").addEventListener("search", event => {
        event.preventDefault();
        filterResources();
    });
</script>