.clip {
  position: fixed !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.focusable:focus {
  clip: auto;
  position: relative !important;
}

#Capa_1 {
  fill: var(--white);
}

.tag {
  display: inline-block;
}

.tab-tag {
  color: var(--white);
}

.tab-tag:after {
  content: ',';
}

.tag:after {
  content: ' |';
}

.tab-tag:last-child:after,
.tag:last-child:after {
  content: '';
}
