:root {
  --woodsmoke: #0e1111;
  --outer-space: #232b2b;
  --cape-cod: #353839;
  --limed-spruce: #3b444b;
  --silver: #cccccc;
  --hollywood-cerise: #ff0093;
  --chartreuse-yellow: #e3ff00;
  --malachite: #2af33e;
  --cyan: #00ffec;
  --purple-pizzazz: #ff00db;
  --red: #ff0000;
  --pink: #F6807E;
  --light-blue: #4da6ff;
  --white: #ffffff;
}
