---
layout: layouts/base

pagination:
    data: recipes
    size: 1
    alias: recipe

permalink: "/recipes/{{ recipe.slug }}/"
---

<main id="main" class="container mx-auto overflow-hidden main ">
  <div class="bg-white border shadow-xl border-silver">
    <h2 class="items-center px-4 pt-4 pb-2 mb-0 font-bold leading-snug border border-t-0 border-b-2 border-l-0 border-r-0 text-outer-space recipe-title border-red">{{ recipe.title }}</h2>
    <div class="p-3 recipe-card">
      <div class="sm:flex page-top">
        {% if recipe.image.asset %}
          <img class="flex-shrink-0 h-64 max-w-full mb-1 sm:mr-6 fade-in" src="{{ helpers.imageURL(sanityClient, recipe.image.asset) }}" alt="{{ recipe.image.alt }}" title="{{ recipe.title }}" />
        {% else %}
          <div class="-mt-1"></div>
        {% endif %}
        <div class="pt-6 sm:pt-0 recipe-stats">
          {% if recipe.source %}
            <div class="text-sm leading-6 uppercase">
              <a href="{{ recipe.source_url }}" class="self-end font-bold hover:underline focus:underline">{{ recipe.source }}</a>
            </div>
          {% endif %}
          {% if recipe.yield %}
            <div>
              <span class="field-label">Yield: </span>
              <span>{{ recipe.yield }}</span>
            </div>
          {% endif %}
          {% if recipe.total_time %}
            <div>
              <span class="field-label">Total Time: </span>
              <span>{{ recipe.total_time }}</span>
            </div>
          {% endif %}
          {% if recipe.tags %}
            <div>
              <span class="field-label">Categories: </span>
              {% set tagList = recipe.tags %}
              {% include "layouts/tags-linked.njk" %}
            </div>
          {% endif %}
          <div class="my-6 text-lg leading-snug content">
            {{ recipe.content | safe }}
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div class="flex flex-wrap">
          {% if recipe.ingredients %}
            <div class="sm:w-1/2">
              <h3>Ingredients</h3>
              <div class="mb-6 mr-1 ingredients">
                {{ recipe.ingredients | markdown | safe }}
              </div>
            </div>
          {% endif %}
          {% if recipe.instructions %}
            <div class="sm:w-1/2">
              <h3>Instructions</h3>
              <div class="mb-6 ml-8 instructions">
                {{ recipe.instructions | markdown | safe }}
              </div>
            </div>
        {% endif %}
        </div>
        <div class="mt-6 sm:mt-0">
          {% if recipe.notes %}
            <h4 class="mb-0">Notes</h4>
            <div class="text-sm leading-6">
              {{ recipe.notes | markdown | safe }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
