---
layout: layouts/base
permalink: /categories/
---
<main id="main" class="container mx-auto bg-white">
    <h2>Categories</h2>

    {% set tagList = tags %}
    {% include "layouts/tags-linked.njk" %}
</main>
