---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - tagList
  addAllPagesToCollections: true
layout: layouts/base
permalink: /categories/{{ tag }}/
---
<main id="main" class="container mx-auto">
  <h2 class="p-2 font-bold bg-white border shadow-lg border-silver">Categorized “{{ tag }}”</h2>

  {% set recipeslist = helpers.getRecipesWithTag( recipes, tag ) %}
  {% include "layouts/recipes-list.njk" %}

  <br />
  <p class="p-2 font-bold bg-white border shadow-lg border-silver">See <a href="{{ '/categories/' | url }}">all categories</a>.</p>

</main>
